h1 {
  margin: auto;
  font-size: 2em;
}

h2 {
  margin: auto;
  font-size: 1.2em;
  border-bottom: none;
  }

h3 {
  margin: auto;
  font-size: 0.75em;
  border-bottom: 1px dashed #505050;
}

.center {
  float: none;
  margin: auto;
}