* {
  background-color: #EBEBEB;
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Times New Roman';
  font-size: 2.5em;
  display: inline;
}

h2 {
  font-size: 1em;
  display: inline;
}

header section {
  width: 30%;
  margin-left: 40%;
  text-align: left;
}

header nav {
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 80%;
  margin: auto;
}

header nav a {
  margin: 0em 2em 2em 0em;
}

main aside img {
  width: 100%;
  height: 5em;
  margin: 2% 0em 0em 0em;
}

main section {
  background-color: #D4D4D4;
  height: 70%;
  width: 60%;
  margin-top: 2%;
  text-align: center;
  position: absolute;
  left: 20%;
  overflow-y: scroll;
}

#cyrus-pic {
  height: 15em;
  width: 12em;
  margin-top: 2%;
}

main nav {
  text-align: center;
  margin-top: 10%;
}

a {
  color: #9E2081;
  text-decoration: none;
  margin: 0em 1em 1em 0em;
}

a:hover {
  color: #D11FA8;
}

footer {
  font-size: 0.6em;
  width: 80%;
  text-align: center;
  position: fixed;
  bottom: 5%;
  left: 10%;
}

main h3 {
  background-color: #D4D4D4;
  margin: 0px 0px 0px 0px;
}

main h4 {
  background-color: #D4D4D4;
  margin: 0px 0px 0px 0px;
  font-size: 0.8em;
}

main p {
  background-color: #D4D4D4;
}

main ul {
  background-color: #D4D4D4;
  text-align: left;
  list-style: square;
  width: 40%;
  margin: auto;
}

main li {
  background-color: #D4D4D4;
}

.col1 {
  height: 70%;
  width: 15%;
  left: 20%;
  position: absolute;
  text-align: center;
  margin-top: 2%;
}

.col2 {
  height: 70%;
  width: 15%;
  left: 35%;
  position: absolute;
  text-align: center;
  margin-top: 2%;
}

.col3 {
  height: 70%;
  width: 15%;
  left: 50%;
  position: absolute;
  text-align: center;
  margin-top: 2%;
}

.col4 {
  height: 70%;
  width: 15%;
  left: 65%;
  position: absolute;
  text-align: center;
  margin-top: 2%;
}

div p {
  background-color: #EBEBEB;
  margin-bottom: 0em;
}

code {
  background-color: #999999;
}

section pre {
  background-color: #999999;
  text-align: left;
}